name: CI
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: compile backend/mood
      working-directory: ./services/backend/mood
      run: ./mill __.compile
    - name: test backend/mood
      working-directory: ./services/backend/mood
      run: ./mill __.test